[Unit]
Description=Icecast Network Audio Streaming Server
After=network.target
Before=darkice.service 
 
[Service]
Type=simple
StandardOutput=journal
Restart=on-failure
RestartSec=10s
ExecStart=/usr/bin/icecast2 -c /etc/icecast2/icecast.xml 
ExecReload=/bin/kill -HUP $MAINPID
User=icecast2
Group=icecast
WorkingDirectory=/tmp/
 
[Install]
WantedBy=multi-user.target

